/*? Bootstrap icons ?*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.card-body {
  max-height: 450px;
  overflow: auto;
}

body {
  background: linear-gradient(
    black,
    rgb(26, 0, 0),
    rgb(62, 0, 0),
    rgb(105, 1, 1)
  );
}
